* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #FF6D1F;
    --cor-secundaria: #00385c;
    --cor-texto-principal: #1A1A1A;
    --cor-texto-secundario: #4d4d4d;
    --cor-fundo-app: #f4f5f7;
    --cor-borda-suave: #E0E2E7;
    --cor-azul-card: #005792;
    --fonte-principal: "Montserrat", sans-serif;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo-app);
    color: var(--cor-texto-principal);
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}