* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #FF6D1F;
    --cor-secundaria: #00385c;
    --cor-primaria-hover: #e65c00;
    --cor-texto-principal: #1A1A1A;
    --cor-texto-secundario: #4d4d4d;
    --cor-fundo-app: #f4f5f7;
    --cor-borda-suave: #E0E2E7;
    --cor-azul-card: #005792;
    --fonte-principal: "Montserrat", sans-serif;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo-app);
    color: var(--cor-texto-principal);
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* header */
.app-header {
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid var(--cor-borda-suave);
}

.app-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 28px;
}
.app-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.app-nav a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--cor-texto-secundario);
    font-weight: 600;
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.2s ease;
}
.app-nav a:hover {
    background-color: var(--cor-fundo-app);
    color: var(--cor-texto-principal);
}
.app-nav a.active {
    background-color: var(--cor-secundaria);
    color: white;
}

/* dashboard (main) */
.dashboard-main {
    padding: 30px 0;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.btn-primary {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    background-color: var(--cor-primaria);
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--cor-primaria-hover);
}


.section-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--cor-texto-principal);
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--cor-borda-suave);
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 30px;
    font-family: sans-serif;
    overflow: hidden; /* esconde os cantos do btn */
}

.search-container .search-icon {
    color: #71717A;
    padding: 0 15px;
    font-size: 28px;
    font-weight: 300;
}

.search-container input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 12px 0;
    font-size: 16px;
    background-color: transparent;
}

.search-container input::placeholder {
    color: #999;
}

.filter-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--cor-azul-card);
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    align-self: stretch; /* faz o btn preencher, esticando ele */
}

.filter-btn:hover {
    background-color: var(--cor-secundaria);
}

.projects-grid {
    display: grid;
    gap: 24px; 
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); 
}

.project-card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 12px; 
    padding: 24px;
    transition: all 0.3s ease; 
    display: flex;
    flex-direction: column; /* deixa tudo em uma coluna, um embaixo do outro */
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 56, 92, 0.1);
}

.card-icon {
    font-size: 40px;
    color: var(--cor-azul-card);
    margin-bottom: 16px;
    align-self: center;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin: 0;
}

.project-status {
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 20px;
    color: white;
    flex-shrink: 0;
}
.project-status.in-progress { 
    background-color: var(--cor-azul-card); 
}

.card-text {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.6;
    flex-grow: 1;
}

.card-progress {
    margin: 16px 0;
}
.card-progress label {
    font-size: 12px;
    font-weight: 500;
    color: #6c757d;
}
.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 5px;
}
.progress {
    height: 100%;
    background-color: var(--cor-azul-card); 
}

.card-footer {
    border-top: 1px solid #e7e7e7;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-members img {
    border-radius: 50%; /* img redondas  */
    border: 2px solid white;
    margin-left: -15px; /* deixar cada avatar um em 'cima' do outro */
}
.team-members img:first-child {
    margin-left: 0;
}

.btn-details {
    text-decoration: none;
}

/* estilo pro card 100% */

.status-completed {
    opacity: 0.8;
    background-color: #fcfcfc;
}

.status-completed:hover {
    opacity: 1;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 56, 92, 0.1);
}

.status-completed .card-icon {
    color: var(--cor-texto-secundario);
}

.status-completed .project-status{
    color: white;
    background-color: #9c9c9c;
}

.status-completed .btn-details {
    padding: 3px 10px;
    border-radius: 20px;
    background-color: #9c9c9c;
    color: white;
    text-decoration: none;
}

.status-completed .card-progress-area {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--cor-texto-secundario);
    padding: 8px;
    margin: 16px 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
