@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

:root {
    --CorPrimaria : #FF6D1F;
    --TextoPrimario: #000000;
    --cor-texto-secundario: #4d4d4d;
    
    --CorSecundaria: #FFFFFF;
    --TextoSecundario: #005792;
    --BordaSecundaria: #005792;
    --Erro: #ff3b3b;
    --FundoGradient: linear-gradient(180deg,rgba(245, 245, 245, 1) 0%, rgba(0, 87, 146, 1) 100%);
    --Fundo: #F5F5F5;
    --Linha: "";
    --font-weight-bold: 700; 
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-style-italic: italic;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: var(--Fundo);
}

header {
    padding: 0px 23px ;
    background-color: var(--CorSecundaria);
    display: flex;   
    align-items: center;
    height: 70px;
    border-bottom: 1px solid var(--BordaSecundaria);
    box-shadow: 0px 4px 4px rgba(0, 87, 146,0.25);
}

.menu {
    transition: all 1s ease-in-out;
    padding: 23px ;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cadastro {
    color: var(--CorPrimaria)
}

button {
    cursor: pointer;
    transition: all .5s;
}

button:hover {
    transform: scale(1.05);
}

button a {
    color: var(--TextoPrimario);
    text-decoration: none;
}

.header img {
    height: 28px;
}

.header span, li {
    cursor: pointer;
}

nav {
    height: calc(100% - 76px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

nav button {
    font-weight: var(--font-weight-bold);
    font-style: var(--font-style-italic);
    width: 100px;
    height: 50px;
    background-color: var(--CorSecundaria);
    border: 1px solid var(--CorPrimaria);
    border-radius: 15px;
    cursor: pointer;
    transition: all ease-in .5s;
}

nav button:hover {
    background-color: var(--CorPrimaria);
}

nav ul {
    list-style: none;
}

li a {
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.2s ease;
    color: var(--TextoPrimario);
}

li a:hover {
    background-color: var(--Fundo);
    color: var(--TextoPrimario);
}

.material-symbols-outlined{
    font-size: 30px;
}

main .hero{
    width: calc(100% - 46px);
    padding: 0px 23px;
}

.hero {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero img {
    width: 100%;
}

.hero div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero p {
    width: 100%;
    text-align: center;
}

.Titulo, .TituloFooter {
    font-size: 30px;

    font-weight: var(--font-weight-bold);
    font-style: var(--font-style-italic);
    color: var(--BordaSecundaria);
    margin-bottom: 5px;
    text-align: center;

}

.hero button {
    padding: 20px 40px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: var(--font-weight-bold);
    font-style: var(--font-style-italic);
    background-color: var(--CorPrimaria);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#beneficios,#experimente {
    padding: 0px 23px 30px 23px ;
    margin-top: 30px;
    background: var(--FundoGradient);
}

.groupCards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card {
    background-color: var(--CorSecundaria);
    border: 2px solid var(--BordaSecundaria);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 87, 146,.25);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.groupCards .card{
    padding: 23px;
    gap: 5px;
}

#beneficios .material-symbols-outlined {
    font-size: 80px;
    color: var(--TextoSecundario);
}

#beneficios .subTitulo {
    height: 50px;
    font-size: 20px;
    color: #000000;
    font-weight: var(--font-weight-bold);
    text-align: center;
}

#beneficios .texto {
    font-size: 15px;
}

#feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: var(--Fundo);
}

.cardHeader {
    width: 100%;
    border-radius: 11px 11px 0px 0px ;
    background-color: var(--BordaSecundaria);
    display: flex;
    align-items: center;
    gap: 15px;
}

.cardHeader img {
    margin: 10px 0px 10px 23px;
    border-radius: 50%;
}

.cardHeader span {
    font-size: 25px;
    cursor: pointer;
}

.cardBody {
    padding: 23px;
}

.cardBody img {
    border-radius: 15px;
}

.carrosel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicadores {
    display: flex;
    gap: 5px;
}

.indicador {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #737373;
}

.ativo {
    background-color: #005792;
}

#experimente {
    width: calc(100% - 46px);
    padding: 23px;
    background: var(--Fundo);
    margin: auto;
    padding: 0;
    border: 1px solid var(--BordaSecundaria);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#experimente .Titulo {
    padding: 5px;
}

.formulario {
    width: 100%;
}

.formulario img {
    /* margin: auto; */
    width: 90%;
}

.formulario form {
    padding: 10px;
}

form,.google {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form > label {
    font-size: 15px;
}

form p > a {
    color: var(--CorPrimaria);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

form select, form input {
    border: 1px solid var(--BordaSecundaria);
    padding: 5px;
    border-radius: 5px;
}

form input:focus, select:focus {
    border: 2px solid var(--CorPrimaria);
    outline: none;
}

label a {
    color: var(--TextoSecundario);
    font-weight: bold;
}

form button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 15px auto;
    height: 50px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    font-style: var(--font-style-italic);
    background-color: var(--CorPrimaria);
    box-shadow: 0px 4px 4px rgba(255, 109, 31, .25);
    border: none;
    border-radius: 15px;
}

dialog span {
    color: var(--BordaSecundaria);
    cursor: pointer;
}

dialog > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.google .ou {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    color: var(--TextoSecundario);
}

.google .ou::after,.google .ou::before {
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--BordaSecundaria);
    content: var(--Linha);
}

.google button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 50px;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    font-style: var(--font-style-italic);
    background-color: var(--CorSecundaria);
    box-shadow: 0px 4px 4px rgba(0, 87, 146, .25);
    border: 1px solid var(--BordaSecundaria);
    border-radius: 15px;
    margin-bottom: 15px;
}

.google button:hover {
    background-color: var(--TextoSecundario);
    color: var(--CorSecundaria);
}

.mudarModal {
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: var(--CorPrimaria);
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    background-color: var(--BordaSecundaria);
    padding: 23px;
    color: var(--CorSecundaria);
}

.TituloFooter {
    text-align: start;
    font-size: 20px;
    color: var(--CorSecundaria);
}

footer a {
    color: var(--CorSecundaria);
    text-decoration: none;
    transition: 0.3s ease;
}

footer a:hover {
    color: var(--CorPrimaria);
}

dialog {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--BordaSecundaria);
    padding: 23px;
    border-radius: 23px;
}

.invalido {
    font-weight: var(--font-weight-bold);
    font-style: var(--font-style-italic);
    color: var(--Erro);
    text-align: center;
}

@media screen and (min-width: 744px) {
    .header .material-symbols-outlined {
        display: none;
    }

    nav, ul{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    nav {
        flex-direction: row;
    }

    .hero {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .hero div {
        width: 50%;
        order: -1
    }

    .hero img {
        width: 50%;
    }

    #beneficios {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .groupCards {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 30px;
    }

    #beneficios .Titulo {
        width: 100%;
    }

    .card {
        width: 260px;
    }

    .formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    form div {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }

    form button {
        width: 366px;
    }

    dialog > div {
        flex-direction: row;
        justify-content: center;
    }

    .google button {
        width: 366px;
    }

    footer {
        flex-direction: row;
        gap: 30px;
        justify-content: center;
    }
} 