@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('header.css');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

:root {
    --CorPrimaria : #FF6D1F;
    --TextoPrimario: #000000;
    --cor-texto-secundario: #4d4d4d;
    
    --CorSecundaria: #FFFFFF;
    --TextoSecundario: #005792;
    --BordaSecundaria: #005792;
    --Erro: #ff3b3b;
    --FundoGradient: linear-gradient(180deg,rgba(245, 245, 245, 1) 0%, rgba(0, 87, 146, 1) 100%);
    --Fundo: #F5F5F5;
    --Linha: "";
    --font-style-italic: italic;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    background-color: var(--Fundo);
}

a.cadastro {
    color: var(--TextoSecundario)
}

button {
    cursor: pointer;
    transition: all .5s;

    a {
        color: var(--TextoPrimario);
        text-decoration: none;
    }

    &:hover {
        transform: scale(1.05);
    }   
}

nav button {
    font-weight: 700;
    font-style: var(--font-style-italic);
    width: 100px;
    height: 50px;
    background-color: var(--CorSecundaria);
    border: 1px solid var(--CorPrimaria);
    border-radius: 15px;
    cursor: pointer;
    transition: all ease-in .5s;

    &:hover {
        background-color: var(--CorPrimaria);
    }
}

.hero {
    width: 100%;
    padding: 0px 23px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    animation: heroi 1s ;

    img {
        width: 100%;
        border-radius: 15px;
    }

    .Titulo {
        text-align: start;
    }

    .subTitulo {
        font-weight: 700;
    }

    .texto {
        font-weight: 300;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    button {
        padding: 20px 40px;
        margin-top: 30px;
        font-size: 25px;
        font-weight: 700;
        font-style: var(--font-style-italic);
        background-color: var(--CorPrimaria);
        border: none;
        border-radius: 15px;
        cursor: pointer;
        width: fit-content;
    }
}

.Titulo, .TituloFooter {
    font-size: 30px;
    font-weight: 900;
    font-style: var(--font-style-italic);
    color: var(--BordaSecundaria);
    margin-bottom: 5px;
    text-align: center;
}

#beneficios,#experimente{
    padding: 0px 23px 30px 23px ;
    margin: 30px 0px;
    background: var(--FundoGradient);
}

.card {
    background-color: var(--CorSecundaria);
    border: 2px solid var(--BordaSecundaria);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

#beneficios .card {
    align-items: center;
}

.groupCards {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .card{
        padding: 23px;
        gap: 5px;
    }
}

#beneficios .material-symbols-outlined {
    font-size: 80px;
    color: var(--TextoSecundario);
}

#beneficios .subTitulo {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    text-align: center;
}

#beneficios .texto {
    font-weight: 500;
    font-size: 15px;
}

#feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: var(--Fundo);
}

.cardHeader {
    width: 100%;
    border-radius: 11px 11px 0px 0px ;
    background-color: var(--BordaSecundaria);
    display: flex;
    align-items: center;
    gap: 15px;

    div {
        display: flex;
        flex-direction: column;
        text-align: left;
        color: var(--CorSecundaria);

        p {
            font-weight: 700;
        }

        p:last-child{
            font-weight: 500;
        }
    }

    img {
        margin: 10px 0px 10px 23px;
        border-radius: 50%;
    }

    span {
        font-size: 25px;
        cursor: pointer;
    }
}

.cardBody {
    padding: 23px;
    width: 100%; 
    box-sizing: border-box;

    img {
        display: block;
        margin: 0 auto 15px auto;
        max-width: 100%; 
        border-radius: 15px;
    }

    .texto {
        font-weight: 300;
        text-align: left;
        word-wrap: break-word; 
    }
}

.carrosel {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; 

    .card {
        width: 100%;
        flex-shrink: 0;
        box-sizing: border-box; 
    }
}

.carrosel .material-symbols-outlined {
    cursor: pointer;
    position: absolute; 
    z-index: 10; 
    font-size: 50px; 
    color: var(--TextoSecundario); 
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
}

.prev-btn {
    left: 5px;
}

.next-btn {
    right: 5px;
}

.conteudoSlides {
    width: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.indicadores {
    display: flex;
    gap: 5px;
}

.indicador {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #737373;
}

.ativo {
    background-color: #005792;
}

#experimente {
    width: calc(100% - 46px);
    padding: 23px;
    background: var(--Fundo);
    margin: 10px auto;
    padding: 0;
    border: 1px solid var(--BordaSecundaria);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .Titulo {
        padding: 5px;
    }
}


.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        padding: 10px;
        width: 100%;
    }   
}

form {
    label {
        font-weight: 500;
        font-size: 15px;
    }

    p > a {
        color: var(--CorPrimaria);
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
    }

    select, input {
        background-color: #FFFFFF;
        border: 1px solid var(--BordaSecundaria);
        padding: 5px;
        border-radius: 5px;
    }

    input:focus, select:focus {
        border: 2px solid var(--CorPrimaria);
        outline: none;
    }

    input[type="checkbox"] {
        accent-color: var(--BordaSecundaria);
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin: 15px auto;
        height: 50px;
        padding: 10px;
        font-size: 25px;
        font-weight: bold;
        font-style: var(--font-style-italic);
        background-color: var(--CorPrimaria);
        box-shadow: 0px 4px 4px rgba(255, 109, 31, .25);
        border: none;
        border-radius: 15px;
    }

    label a {
        color: var(--TextoSecundario);
        font-weight: bold;
    }

    div > button {
        background-color: var(--CorSecundaria);
        border: 1px solid var(--BordaSecundaria);
        box-shadow: 0px 4px 4px hsla(204, 100%, 29%, 0.25);
        width: 100%;
        transition: ease-in-out .5s;
    }

    .ativarBotao {
        background-color: var(--BordaSecundaria);
        color: var(--CorSecundaria);
    }
    
}

form,.google {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.google .ou {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--TextoSecundario);

    &::after,&::before {
        display: block;
        height: 1px;
        width: 100%;
        background-color: var(--BordaSecundaria);
        content: var(--Linha);
    }
}

.google button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 50px;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    font-style: var(--font-style-italic);
    background-color: var(--CorSecundaria);
    box-shadow: 0px 4px 4px rgba(0, 87, 146, .25);
    border: 1px solid var(--BordaSecundaria);
    border-radius: 15px;
    margin-bottom: 15px;

    &:hover {
        background-color: var(--TextoSecundario);
        color: var(--CorSecundaria);
    }
}

.mudarModal {
    text-decoration: none;
    font-weight: 700;
    color: var(--TextoSecundario);
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    background-color: var(--BordaSecundaria);
    padding: 23px;
    color: var(--CorSecundaria);

    div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    a {
        color: var(--CorSecundaria);
        transition: 0.3s ease;

        &:hover {
            color: var(--CorPrimaria);
        }
    }

    p {
        font-weight: 500
    }
}

.TituloFooter {
    text-align: start;
    font-size: 20px;
    color: var(--CorSecundaria);
}

dialog {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--BordaSecundaria);
    padding: 23px;
    border-radius: 23px;

    span {
        color: var(--BordaSecundaria);
        cursor: pointer;
    }

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin: 15px auto;
        height: 50px;
        padding: 10px;
        font-size: 25px;
        font-weight: bold;
        font-style: var(--font-style-italic);
        background-color: var(--CorPrimaria);
        box-shadow: 0px 4px 4px rgba(255, 109, 31, .25);
        border: none;
        border-radius: 15px;
    }

    .input-container {
        position: relative;
        width: 100%;
    }

    .icon-button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    #senhaLogin,#senhaCadastro,#confirmarSenha {
        width: 100%;
    }
}

#CadastroSucesso p {
    width: 100%;
    text-align: center;
}

.invalido {
    font-weight: 700;
    font-style: var(--font-style-italic);
    color: var(--Erro);
    text-align: center;
}

@keyframes heroi {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (min-width: 744px) {
    .header .material-symbols-outlined {
        display: none;
    }

    nav, ul{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    nav {
        flex-direction: row;

        li {
            margin: 0px;
        }
    }

    .hero {
        display: flex;
        flex-direction: row;
        align-items: center;

        div {
            width: 50%;
            order: -1;
        }

        img {
            width: 50%;
        }
    }

    #beneficios {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .Titulo {
            width: 100%;
        }
    }

    .groupCards {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 30px;
    }

    .carrosel {
        width: 600px; 
    }

    .groupCards .card {
        width: 260px;
    }

    .carrosel .card { 
        width: 100%; 
    }

    .formulario {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;

        form {
            width: 30%;

            button {
                width: fit-content;
            }
        }
    }

    form div {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }

    form button {
        width: 366px;
    }

    dialog > div {
        flex-direction: row;
        justify-content: center;
    }

    .google button {
        width: 366px;
    }

    footer {
        flex-direction: row;
        gap: 30px;
        justify-content: center;
    }
} 