* {
    padding: 0px;
    margin: 0px;
}

:root {
    --CorPrimaria : #FF6D1F;
    --TextoPrimario: #000000;

    --CorSecundaria: #FFFFFF;
    --TextoSecundario: #005792;
    --BordaSecundaria: #005792;
    --FundoGradient: linear-gradient(180deg,rgba(245, 245, 245, 1) 5%, rgba(0, 87, 146, 1) 100%);
    --Fundo: #F5F5F5;
}

body {
    width: 100vw;
}

header {
    width: calc(100% - 46px);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 23px;
    border-bottom: 1px solid var(--BordaSecundaria);
    box-shadow: 0px 4px 4px rgba(0, 87, 146,0.25)
}

header img {
    width: 80px;
}

.material-symbols-outlined{
    font-size: 30px;
}